{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{%block title%}MIDF{%endblock%}</title>
  <meta name="viewport" content="width=device-width">

  {% block meta %}
  {% endblock %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
 
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-flatty.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
  {% block css %}{% endblock %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
  {% block js %}{% endblock %}

  <script>
    $(document).ready(
            function() {
                {% block jquery %}{% endblock %}
            }
  );
  </script>
  </head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
  <header>
    {% block header %}
    <div id="main_menu">
        <div class='navbar'>
            <div class="container navbar-inner">
                
                    <div id='logo' class="navbar-header">
                        <span  class="navbar-brand">MIDF</span>
                    </div>

                    <div class=''>
                        <div class="user_ico">
                            User: <b>Juan Perez</b><br/> 
                            <a href='{%url 'dashboard'%}'>Home</a> | <a href='/login' id='logout_link'>Logout</a>
                        </div>
                    </div>
              </div>
          </div>
  </div>
       
    {% endblock %}
  </header>

  <div class='main-body container' role="main">
    {%block navigation%}{% endblock %} 
    {% block content %}{% endblock %}
  </div>

  <footer>
    {% block footer %}
    <div class="footer_container">
        +Contactos varios <br/>
        +Patrocinadores
    </div>

    {% endblock footer %}
  </footer>
{% endblock %}
</body>
</html>
