{% extends "base_layout.html" %}
{%load staticfiles%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{%endblock%}

{%block content%}


<div  id="icon_cont">
	<ul class="icon_list" id="icon_ul">
		<li>
        <a href="{%url 'project_list'%}" id='project_link'>
			<i class="fa fa-cubes fa-5x"></i>
            <span>Projects</span>
			</a>
		</li>
		<li>
			<a href="http://localhost:8000/proximamente">
			<i class="fa fa-bar-chart-o fa-5x"  id='simulation_link'></i>
            <span>Simulation</span>
			</a>
		</li>
        <li>
            <a href="/proximamente" id='field_link'>
                <i class="fa fa-globe fa-5x"></i>
                <span>Fields and Wells</span>
			</a>
		</li>

        <li>
			<a href="http://localhost:8000/proximamente"  id='settings_link'>
			<i class="fa fa-gears fa-5x"></i>
            <span>Settings</span>
			</a>
		</li>


		<li>
			<a href="http://localhost:8000/proximamente"  id='parameters_link'>
			<i class="fa fa-list fa-5x" ></i>
            <span>Parameters and units</span>
			</a>
		</li>
		<li>
			<a href="http://localhost:8000/proximamente">
			<i class="fa fa-book fa-5x"  id='help_link'></i>
            <span>Help</span>
			</a>
		</li>
       
	</ul>
</div>

{%endblock%}

{%block js%}
<script src="{%static 'js/forms.js'%}"></script>
{%endblock%}

{%block jquery%}
{%endblock%}

