<div class='sidebar-cont info'>
    <ul class='sidebar'>
        <li><a href='{%if project%}{%url 'edit_project' project_id=project.pk%}{%else%}{%url 'add_project'%}{%endif%}'>General</a></li>
        {%if project%}
            <li><a href='{%if simulation.reservoir%}
                {%url 'edit_reservoir' reservoir_id=simulation.reservoir.pk%}?sim_id={{simulation.pk}}
                {%else%}
                    {%url 'add_reservoir'%}?sim_id={{simulation.pk}}
                {%endif%}'>Reservoir</a></li>
            
            <li><a  href='{%if simulation.get_initial_conditions%}
                {%url 'edit_initialcond' initialcond_id=simulation.get_initial_conditions.pk%}?sim_id={{simulation.pk}}
                {%else%}
                {%url 'add_initialcond'%}?sim_id={{simulation.pk}}
                {%endif%}'>Initial conditions</a></li>


            <li><a  class='disabled'>PVT properties</a></li>
            <li><a  class='disabled'>KRS</a></li>
            <li>
                <a id='optional_btn' href='#'>Optional</a>
                <ul id='optional_menu'>
                    <li><a  href='{%if simulation.get_simulation_conditions%}
                    {%url 'edit_simulationcond' simulationcond_id=simulation.get_simulation_conditions.pk%}?sim_id={{simulation.pk}}
                    {%else%}
                    {%url 'add_simulationcond'%}?sim_id={{simulation.pk}}
                    {%endif%}'>Simulation conditions</a></li>
                </ul>
            </li>
        {%else%}
             <li><a class='disabled'>Reservoir</a></li>
            <li><a  class='disabled'>Initial conditions</a></li>
            <li><a  class='disabled'>PVT properties</a></li>
            <li><a  class='disabled'>KRS</a></li>
            <li>Optional</li>
        {%endif%}
    </ul>
</div>

<script>
$(document).ready(function(){
        
        //Hide optional menu
        $("#optional_menu").hide();

        $(".sidebar [href]").each(function() {
            if (this.href == window.location.href) {
                $(this).addClass("active");
                //Show optional menu if necesary
                if($(this).parent().parent().attr('id')== "optional_menu") {
                    $("#optional_menu").show();
                } 
                
                }
            });
        
        
        $("#optional_btn").click(function () {$("#optional_menu").show(400);});
        });
</script>
