{% extends "base_layout.html" %}
{%load staticfiles%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{%block header%}

{%block footer%}
{%endblock%}

{%endblock%}
{%block content%}
<div id='login_container' class="container">

    <div class="col-md-4 col-md-offset-4">
        {% if form.errors %}
        <div class="alert alert-danger">
            <b>Error:</b> {{ form.errors }}
        </div>

        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>MIDF - Start Session</strong></h3></div>
            <div class="panel-body">
                <form role="form" method='POST' id='login_form'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for=" {{ form.password.id_for_label }} ">Password</label>
                        {{ form.password }}
                    </div>
                    <button id='submit_login' type="submit" class="btn btn-sm btn-default">Start Session</button>
                    <button id='clean_login' type="button" class="btn btn-sm btn-default">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block js%}
<script src="{%static 'js/forms.js'%}"></script>
{%endblock%}

{%block jquery%}
$('#clean_login').click(
function() {
    clean_fields('login_form');
});
{%endblock%}
