{% extends "base_layout.html" %}
{%load staticfiles%}
{%block navigation%}<a href='/'>Home</a> &raquo; Projects{% endblock %} 
{%block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{%endblock%}

{%block content%}

<div class='row'>
    <div class='col-md-12'>
        <h1>Projects</h1>
        {%for message in messages%}
        <div class='alert alert-success'>{{message}}</div>
        {%endfor%}
        <a class='btn btn-info' href='{%url "add_project"%}'>New project</a>
        <br/>
        {%include "project_search_form.html"%}
        <br/>
        {%if object_list%}
        <table class='table table-bordered table-hover table-condensed'>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {%for project in object_list%}
            <tr>

                    <td>
                    <a href='{%url "edit_project" project_id=project.pk%}'>{{project}}</a>
                    </td>
                    <td>{{project.description}}</td>
                    <td>{{project.date}}</td>
                    <td>
                        Copy | 
                        <a class='delete_btn' href='{%url 'delete_project' project_id=project.pk%}'>Delete</a>
                    </td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
        {%else%}
        <h4>No projects found.</h4>
        {%endif%}
    </div>
</div>

{%endblock%}

{%block js%}
<script src="{%static 'js/forms.js'%}"></script>
{%endblock%}

{%block jquery%}
    $(".delete_btn").click(
        function(){
            if (confirm('Are you sure you want to delete this project?')) {
                return true;
            } else {
                // Do nothing!
                return false;
            }
            
        }
    );
{%endblock%}

{% block footer %}
{% endblock footer %}
