<div id='project_search_form' class='panel panel-default'>
    <div class='panel-heading'> <h3 >Search filters</h3> </div>
    <form method='POST'>
        {% csrf_token %}
        {%if search_form.errors%}
        <div class='alert alert-danger'>Errors: <br/>{{search_form.errors}}</div>
        {%endif%}
                <div>
                    <label>Project</label>
                    {{search_form.name_filter}}
                    {{search_form.name_value}}
                </div>

                <div class='date_inputs'>
                    <label>Date</label>
                    From: {{search_form.date_from}}
                    To: {{search_form.date_to}}
                </div>

                <div>
                    <label>Description</label>
                    {{search_form.description_filter}}
                    {{search_form.description_value}}
                </div>

                <div class='disabled'>
                    <label>Simulation type</label>
                    <select disabled>
                        <option>Damage discretization</option>
                        <option>Remediation</option>
                    </select>
                </div>
                
                <div class='disabled'>
                    <label>Module</label>
                    <select disabled>
                        <optgroup label='Damage'>
                            <option>Module 1</option>
                            <option>Module 2</option>
                        </optgroup>
                        <optgroup label='Remediation'>
                            <option>Module 3</option>
                            <option>Module 4</option>
                        </optgroup>

                    </select>
                </div>

                <center><button id='clean_btn' type='button' class='btn btn-default'> Clean</button>&nbsp;<button id='submit_btn' type='submit' class='btn btn-default'> Filter</button></center>
    </form>
</div>


<script>
  $(function() {
    $( "#id_date_from" ).datepicker();
    $( "#id_date_to" ).datepicker();
    /*TODO move to proper js scripts*/
    $('#clean_btn').click(
    function() {
        $(this).closest('form').find("input[type=text], textarea").val("");
        $(this).closest('form').find("select").prop('selectedIndex',0);
    });
  });
</script>
