{% extends "base_layout.html" %}
{%load staticfiles%}
{%block navigation%}<a href='/'>Home</a> &raquo; <a href='/projects'>Projects</a> &raquo; Add project{% endblock %} 
{%block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{%endblock%}

{%block content%}

<div class='row'>
    <div class='col-md-12'>
        <h1>Add Project</h1>
    </div>
</div>
<div class='row'>
    <div class='col-md-3'>
        {%include "datainput_sidebar.html"%}
    </div>
     <div class='col-md-9'>
        {%block form%}
        {%for message in messages%}
        <div class="alert alert-{%if message.tags == 'error'%}danger{%else%}{{ message.tags }}{%endif%}" >{{message}}</div>         
        {%endfor%}
        {%if form.errors%}
            <div class="alert alert-danger" >{{ form.errors }}</div>         
        {%endif%}
            <div class='well'>
                <form class='form-horizontal {%block form_class%}{%endblock%}' method='post'>
                    {% csrf_token %}
                    <fieldset>
                        <legend>{%block form_title%}{%endblock%}</legend>
                    {% for field in form %}
                        <div class="form-group">
                            <div class='col-md-4'>{{ field.label_tag }}</div>
                            <div class='col-md-8'> {{ field }}
                                </div>
                        </div>
                    {% endfor %}

                    </fieldset>
                    <div class='control-btns'>
                    <button type='button' id='clean_btn' class='btn btn-default'>Clean fields</button>
                    <button type='submit' id='save_btn' class='btn btn-info'>Save</button>
                    {%block prevnext_btns%}
                    <button type='button' id='prev_btn' class='btn btn-default btn-prev'>Prev</button>
                    <button type='button' id='next_btn' class='btn btn-default btn-next'>Next</button>            
                    {%endblock%}
                </div>
                </form>
            </div>
        {%endblock%}

    </div>

</div>

        
{%endblock%}

{%block js%}
<script src="{%static 'js/forms.js'%}"></script>
{%endblock%}

{%block jquery%}
    /*TODO move to proper js scripts*/
    $('#clean_btn').click(
    function() {
        $(this).closest('form').find("input[type=text], textarea").val("");
    });

    /*Prev Next buttons logic */
    $('.btn-next').click(
        function() {
            var current_link = $(".sidebar a.active");
            var next_link = $(".sidebar a.active").parent().next('li').children('a:not(.disabled)').first();
            if (typeof next_link.attr('href') != 'undefined') {
                window.location.href = next_link.attr('href');
            }
    });

    $('.btn-prev').click(
        function() {
            var current_link = $(".sidebar a.active");
            var next_link = $(".sidebar a.active").parent().prev('li').children('a:not(.disabled)').first();
            if (typeof next_link.attr('href') != 'undefined') {
                window.location.href = next_link.attr('href');
            }
    });
{%endblock%}

{% block footer %}
{% endblock footer %}
