/*Common css rules*/
#main_menu .navbar {
	/*min-height: 60px;*/
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#main_menu .navbar-inner:before, .navbar-inner:after {
	display: table;
	content: "";
	line-height: 0;
}

#main_menu .navbar-inner:after {
	clear: both;
}

#main_menu .navbar {
	overflow: visible;
	margin-bottom: 20px;
}

#main_menu .navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#main_menu .nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none;
}

#main_menu ul, ol {
	padding: 0;
	margin: 0 0 10px 25px;
}

#main_menu .nav > li > a {
	float: none;
	padding: 10px 15px 10px;
	color: #777777;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

#main_menu .navbar .nav > li {
	float: left;
}

#main_menu li {
	line-height: 20px;
}

#main_menu a {
	color: #0088cc;
	text-decoration: none;
}
#logo *{
    font-size: 3em;
    color: #444;
}
.main-body {
    min-height: 100%;
}
footer {
	width: 100%;
    position: absolute;
    bottom: 0px;

}
.footer_container {
	height: 60px; /* Height of the footer */
	background: #f2f2f2;
	text-align: center;
    padding-top: 10px;
    border: 1px solid #d4d4d4;
    }
.form-group input, .form-group textarea {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
}
.form-group textarea  {
    height: auto;

}
.main-body {
    margin-bottom: 100px;
}
.control-btns {
    text-align: right;
}

.reservoir-form .form-group input, .initial-conditions-form .form-group input {
   width: 50%; 
   text-align: center;
   font-size: 18px;
}

.reservoir-form .form-group  {
    width: 50%;
    float: left;
}
.form-group .errorlist {
    list-style-type: none;
    color: red;
    margin: 0;
    padding:0;
    display: inline-block;
}
form div.disabled {
    background: #eee;
    color: #bbb;
}

/*** Project list. ***/
#project_search_form {
    margin-top: 20px;
    width: 50%;
    margin:  auto;
}
#project_search_form  .panel-heading * {
    margin: 0;
    padding: 0;
}
#project_search_form label{
    display: inline-block;
    width: 250px;
}

#project_search_form select{
    display: inline-block;
    min-width: 100px;
}

.date_inputs input {
    width: 100px;
}
/***end project list ***/
