

.icon_list li {
    display: inline-block;
	padding: 20px;
}

.icon_list li span {
    padding-top: 10px;
    display: block;
    padding-top: 10px;
    font-size: 1.8em;
}

#icon_ul {
	width: 100%;
	text-align: center;
	list-style-type: none;
	margin: auto !important;
}

#icon_cont {
	margin-top: 100px;
}

.user_ico {
	width: 100%;
	text-align: right;
}

#icon_cont a {
    color: #1895BC;
    text-decoration: none;
}
#icon_cont a:hover {
    color: #333;
    text-decoration: none;
}
