#login_container {
    margin-top: 200px;
}

#id_username, #id_password {

    display:block;
    padding: 6px 12px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.errorlist {
    list-style-type: none;
}
.errorlist li {
    display: inline:block;
}

