.sidebar-cont {
    background: #f2f2f2; 
    width: 230px;

}
.sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar a{
    color: #3498db;
    text-align: center;
    display: block;
    min-height: 40px;
    line-height: 40px;
    border-left: 3px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    font-size: 1.3em;
    text-decoration: none;

}

.sidebar a:hover:not(.disabled) {
    border-left: 3px solid #3498db;
    /*border-top: 1px dotted lightblue;*/

}

.sidebar a.active{
    color: #fff;
    background: #3498db; 
    border-left: 3px solid lightblue;
    border-top: 1px dotted lightblue;
}

.sidebar a.disabled{
    color: #aaa;

}
#optional_menu {
    font-size: 12px;
}

